<div class="map-container">
    <div id="canvas" class="container"></div>
</div>

<div class="map-info-box">
    <div class="info-box-label">
        <div class="info-box-header">NF Name</div>
        <div class="info-box-value info-box-under">Value</div>
    </div>
    <div class="info-box-label">
        <div class="info-box-header">TID</div>
        <div class="info-box-value info-box-under">Value</div>
    </div>
    <div class="info-box-label half">
        <div class="info-box-header">CLU</div>
        <div class="info-box-value">Value</div>
    </div>
    <div class="info-box-label half">
        <div class="info-box-header">NE Type</div>
        <div class="info-box-value info-box-under">Value</div>
    </div>
    <div class="info-box-label half">
        <div class="info-box-header">Vendor</div>
        <div class="info-box-value">Value</div>
    </div>
    <div class="info-box-label half">
        <div class="info-box-header">Model</div>
        <div class="info-box-value">Value</div>
    </div>
    <div class="info-box-sub">
    <div class="info-box-label half">
        <div class="info-box-header">State</div>
        <div class="info-box-value">Value</div>
    </div>
        <div class="info-box-label half">
            <div class="info-box-header">Subnet</div>
            <div class="info-box-value">Value</div>
        </div>
        <div class="info-box-label half">
            <div class="info-box-header">End</div>
            <div class="info-box-value">Value</div>
        </div>
        <div class="info-box-label half">
            <div class="info-box-header">Port</div>
            <div class="info-box-value">Value</div>
        </div>
        <div class="signal-img">
            <img class="net-img"
              src="assets/img/maptalks/network.svg">
          </div>
    </div>
</div>